/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Hellix";
  src: url("../public/fonts/Hellix/Hellix-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Hellix !important;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}


* {
  box-sizing: border-box;
}